html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10%;
}

.menu {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: #eee;
}

nav h1 {
  color: #eee;
  font-size: 30px;
  font-weight: 800;
}

.item {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/flashwar.jpg) no-repeat center center;
  background-size: cover;
  min-height: 98vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.header-text h3 {
  font-family: "Georgia";
  font-size: 40px;
  letter-spacing: 1.5px;
}

.header-text h4 {
  font-size: 25px;
}

.shop-cta {
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
  background-color: transparent;
  font-family: "Arial";
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
}

.shop-cta:hover {
  background-color: white;
  color: black !important;
  outline: none;
  border: none;
}

.form-group {
  height: 100px;
}

.profile-header {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: teal;
}

.subheader {
  font-size: 20px;
}
.profile {
  text-align: center;
}

.loggedNav {
  background-color: teal;
  z-index: -100;
}

.deckContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.deck {
  border-radius: 20px;
  flex-grow: 1;
  width: 25%;
  height: 200px;
  background-color: lightblue;
  align-items: center;
  display: flex;
  justify-content: center;
}

.deckName {
  color: darkblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}

a {
  text-decoration: none;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rankedUser {
  font-size: 30px;
  color: teal;
}

.cardDisplay {
  height: 300px;
}

i {
  font-size: 30px;
}

.arrowIcon {
  display: flex;
  border: 1px solid #ddd;
  margin: 10px;
}

.display {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.cardDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.displayQuestion {
  display: flex;
  width: 400px;
  height: 200px;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: 3px solid teal;
  border-radius: 20px;
}

.userAnswerForm {
  width: 400px;
  margin: 0 auto;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #eee;
  width: 200px;
  height: 100px;
  margin: 20px;
}

.category a {
  text-decoration: none;
  color: teal;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.optionDeck {
  display: flex;
  padding: 10px;
  color: teal;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #eee;
}
